 .btn {
    display: inline-block;
    padding: 5px 20px;
    background-color: var(--secondary-color);
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    font-size: 18;
    line-height: 20px;
    margin-bottom: 20px;
    text-align: center;
    /*opacity: 0.9;*/

}
.btn:hover{
   /* background-color: var(--secondary-color-dark);*/
box-shadow: 0 3px 4px 0 #0005;
/*opacity: 1;*/
}
.btn.fa {
   font-size: 26px;
   padding: 0;
   height: 40px;
   width: 40px;
   line-height: 36px;
   border-radius: 50%;
}
